body{
    background-image: url("images/piscine.png");
}

#title{
  text-align: center;
}


.card{
    margin-top: 5%;
    margin-left: 21%;
}

#btn{
    margin-left: 35%;
}

fieldset{
    background-color: #40463E;
    margin-left: 33%;
    width: 500px;
    height: 400px;
}